<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Pilot</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">
        <h2>Hello!</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Tambah Pilot
                    </div>
                    <div class="card-body">
                        <form th:action="@{/pilot/add}" th:object="${pilot}" method="POST">
                            License Number: <br>
                            <input type="text" name="licenseNumber" class="form-control"/>
                            <br>
                            Name: <br>
                            <input type="text" name="name" class="form-control"/>
                            <br>
                            Fly Hour: <br>
                            <input type="number" name="flyHour" class="form-control"/>
                            <br><br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>